{% extends 'DIATestBundle::layout.html.twig' %}

{% block stylesheets %}      
	<link href="{{ asset('css/forms.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
		<h3>{{'Registration' | trans}}</h3>
		<form action="" method="post" class="login">
				{% if errors.username.taken %}<label for="password" class="error">{{"Username taken" | trans}}:</label>{% endif %}

		  	<label for="username"{% if errors.username.empty %} class="error"{% endif %}>*{{'Username' | trans}}:</label>
		 		<input type="text" id="username" name="username" value="{{app.request.get('username')}}">

		  	<label for="password"{% if errors.password.empty %} class="error"{% endif %}>*{{'Password' | trans}}:</label>
		  	<input type="password" id="password" name="password">

		  	{% if errors.password.match %}<label for="password" class="error">{{"Passwords don't match" | trans}}:</label>{% endif %}

		  	<label for="re_password"{% if errors.re_password.empty %} class="error"{% endif %}>*{{'Repeat password' | trans}}:</label>
		  	<input type="password" id="re_password" name="re_password">

		  	<label for="first_name">{{'First name' | trans}}:</label>
		  	<input type="text" id="first_name" name="first_name" value="{{app.request.get('first_name')}}">

		  	<label for="last_name">{{'Last name' | trans}}:</label>
		  	<input type="text" id="last_name" name="last_name" value="{{app.request.get('last_name')}}">

		  	<button type="submit">{{'Register' | trans}}</button>
		</form>
		<a href="{{path('DIATestBundle_homepage')}}">{{'Main page' | trans}}</a>
{% endblock %}